html,body {
  font-family: 'Open Sans', sans-serif!important;
}

.landing-header {
  margin-left: auto;
  margin-right: auto;
  width: 8em;
}

.slogan {
 
  
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a.drinkImageCard:hover, a.drinkImageCard:focus {
  text-decoration: none;
  color: green;
}

a.drinkImageCard {
  color: green;
}

.dropdown-menu.default.react-selectize.multi-select.items-dropdown {
  display: block;
}